* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navbarSupportedContent {

}

#bg-nav {
	background-color: rgba(255, 255, 255, .95);
}

.container {
	padding: 250px;
	padding-bottom: 100px;
}


h5 {
	padding: 10px;
}

p {
	text-align: left;
	padding: 10px;
}

.nav-item {
	font-size: 30px;
}

.responsive {
	max-width: 100%;
	height: auto;
}

#message {
	background-color: #dbb669;
	margin-bottom: 100px;
	border-radius: 5px;
	border: green;
	text-transform: uppercase;
}

#message:hover {
	color: #3a4736;
}

.heading {
	color: #4f4127;
	margin-bottom: 50px;
}

.carousel-item {
	border-radius: 5px;
}

.first-line {
	font-weight: 200px;
}

footer {
	left: 0;
	bottom: 0;
	padding: 20px;
	width: 100%;
	color: #543b23;
	text-align: center;
	background-color: #edc590;
	letter-spacing: 2px;
}



/*Media Queries*/

/*mobile phones*/
@media only screen and (max-width: 415px) {
	body {
		background-position: center;
		height: 100vh;

	}
	img.responsive {
		max-width: 50%;
		height: auto;
	}

	p {
		font-size: 15px;
		text-align: center;
	}

	button.navbar-toggler {
		width: 30px;
		height: 28px;
		position: relative;
	}

	span.navbar-toggler-icon {
		position: absolute;
		right: 3px;
		bottom: 2px;
		max-width: 20px;
		height: 20px;
		margin: 1px;
	}

	a.logo-mini {
		padding: 10px;
	}

	.container {
		padding-top: 150px;
		padding-bottom: 70px;
	}
}


/*tablets*/
@media only screen and (min-width: 416px) and (max-width: 1024px) {
	body {
		background-position: center;
		height: 100vh;

	}

	button {
		max-width: 50%;
		height: auto;
	}

	a.logo-mini {
		padding: 20px;
	}

}

/*desktops*/
@media only screen and (min-width: 961px) {
	body {
		min-height: 100vh;
	}
	p {
		font-size: 18px;
		text-align: center;
	}

	footer {
		position: absolute;
		bottom: 0;
	}

}
