* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

#bg-nav {
	background-color: rgba(255, 255, 255, .95);
  	transition: top 0.3s;

}

.nav-item {
	font-size: 30px;
}

.responsive {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1000px;
	margin: auto;
	padding-top: 50px;
}

.catalog-bg {
	position: relative;
	padding-top: 100px;
  }

.heading {
	color: #4f4127;
}

.row {
	margin: 8px -16px;
}

h5 {
	padding-top: 15px;
}

.column {
	float: left;
	width: 33.33%;
	display: none;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.content {
	background-color: white;
	padding: 5px;
}

.show {
	display: block;
}

.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
}


.btn:hover {
	background-color: #b8d9cb;
}


.btn.active {
	background-color: #dbb669;
	color: white;
}

.left {
	width: 50%;
	text-align: left;
}

input {
	width: 380px;
}

footer {
	object-position: bottom;
	left: 0;
	bottom: 0;
	padding: 20px;
	width: 100%;
	color: #543b23;
	text-align: center;
	background-color: #edc590;
	letter-spacing: 2px;
}

#back {
	color: #543b23;
	opacity: 70%;
	text-align: right;
	margin-right: 15px;
	display: block;
	font-size: 40px;
}





======================

/*Media Queries*/

/*mobile phones*/
@media only screen and (max-width: 415px) {
	body {
		background-position: center;

	}
	img.responsive {
		max-width: 50%;
		height: auto;
	}

	p {
		font-size: 15px;
		text-align: center;
	}

	button.navbar-toggler {
		width: 30px;
		height: 28px;
		position: relative;
	}

	span.navbar-toggler-icon {
		position: absolute;
		right: 3px;
		bottom: 2px;
		max-width: 20px;
		height: 20px;
		margin: 1px;
	}

	a.logo-mini {
		padding: 10px;
	}

	.container {
		padding-top: 100px;
	}
}


/*tablets*/
@media only screen and (min-width: 416px) and (max-width: 960px) {
	body {
		background-position: center;

	}

	button {
		max-width: 50%;
		height: auto;
	}

	a.logo-mini {
		padding: 20px;
	}

}

/*desktops*/
@media only screen and (min-width: 961px) {

	p {
		font-size: 18px;
	}

}

@media only screen and (width: 1024px) {
	footer {
	object-position: bottom;
	position: fixed;}
}