* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#bg-nav {
	background-color: rgba(255, 255, 255, .95);
}

.container-fluid {
	padding: 100px 20px 55px 20px;
}


.nav-item {
	font-size: 30px;
}


.responsive {
	max-width: 100%;
	height: auto;
}

.heading {
	color: #4f4127;
	margin: 40px;
}


.form-group {
	width: 50%;
}


footer {
	left: 0;
	bottom: 0;
	padding: 20px;
	width: 100%;
	color: #543b23;
	text-align: center;
	background-color: #edc590;
	letter-spacing: 2px;
}

.form-control {
	max-width: 500px;
}

textarea {
	height: 200px;
	max-width: 500px;
	border-color: #ced4da;
	border-radius: 5px;
	display: block;
}


.social-media a {
	margin: 1rem;
	font-size: 2rem;
}

.fab:hover {
	color: #543b23;
}

.fab {
	font-size: 20px;
	object-position: center;
	padding: 20px;
	color: #edc590;
}

.mapouter {
	margin-bottom: 55px;
}



/*Media Queries*/

/*mobile phones*/
@media only screen and (max-width: 415px) {
	body {
		background-position: center;

	}
	img.responsive {
		max-width: 50%;
		height: auto;
	}

	p {
		font-size: 15px;
	}

	button.navbar-toggler {
		width: 30px;
		height: 28px;
		position: relative;
	}

	span.navbar-toggler-icon {
		position: absolute;
		right: 3px;
		bottom: 2px;
		max-width: 20px;
		height: 20px;
		margin: 1px;
	}

	a.logo-mini {
		padding: 10px;
	}

	.container {
		padding-top: 100px;
	}
}


/*tablets*/
@media only screen and (min-width: 416px) and (max-width: 960px) {
	body {
		background-position: center;

	}

	button {
		max-width: 50%;
		height: auto;
	}

	a.logo-mini {
		padding: 20px;
	}

}

/*desktops*/
@media only screen and (min-width: 961px) {

	p {
		font-size: 18px;
	}

}