
body {
	font-family: 'Belleza', sans-serif;
	color: #efefef; /* gray */
	text-shadow: 2px 2px 15px #000000; /* black*/
	background-image: url('./assets/images/landing.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
	background-position: center;
}

.logo {
	width: 40%;
	position: relative;
	top: 30px;
	left: 30px;
}

.navbar {
	text-align: center;
	width: 100%;
	display: block;
	z-index: 1;
	background-color: rgba(255,255,255,.25);
	overflow: hidden;
	margin-bottom: 300px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 20px;
}

.navbar a {
	padding: 16px 18px 16px 26px;
	text-decoration: none;
	font-size: 20px;
	color: white;
}

.navbar a:hover {
	font-size: 23px;
	color: #423b28;
	letter-spacing: 2px;
	text-shadow: none;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 415px) {
	body {
		background-position: center;

	}

	.navbar {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 20px;
	}

	.navbar a {
		font-size: 12px;
		text-decoration: none;
	}

	.navbar a:hover {
	font-size: 15px;
	color: #423b28;
	letter-spacing: 1.5px;
	text-shadow: none;
}

}

	/*tablets*/
	@media only screen and (min-width: 416px) and (max-width: 960px) {
		body {
			background-position: center;

		}

		.navbar {
			padding-top: 25px;
			padding-bottom: 25px;
		}

		.navbar a {
			font-size: 15px;
			text-decoration: none;
			padding: 16px 15px 16px 20px;
		}

		.navbar a:hover {
			font-size: 18px;
			color: #423b28;
			letter-spacing: 1.5px;
			text-shadow: none;
}

	}

